      <header>
        <h1>Great-h-rep</h1>
        <p>すごい広島 成果記述用GitHubPage</p>
        <p class="view"><a href="https://github.com/s-rem/great-h-rep">View the Project on GitHub <small>s-rem/great-h-rep</small></a></p>
        <ul>
          <li><a href="https://github.com/s-rem/great-h-rep/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/s-rem/great-h-rep/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/s-rem/great-h-rep">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
